<div class="custom-html-section">
  {{ section.settings.custom_html_code }}
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var link = document.querySelector('a[href*="elfsight.com/testimonials-slider-widget"]');
    if (link) {
      link.style.display = "none !important";
      console.log('linkremove')
    }
  });
</script>
   {% schema %}
    {
  "name": "Custom HTML",
  "settings": [
    {
      "type": "text",
      "id": "custom_html_code",
      "label": "Custom HTML Code"
    }
  ],
  "blocks": []
}

    {% endschema %}