<div class="custom-html-section">
  {{ section.settings.custom_html_code }}
</div>
<script>document.addEventListener('DOMContentLoaded', function() {
  var widget = document.querySelector('a[href^="https://elfsight.com/testimonials-slider-widget/"]');
  if (widget) {
    widget.parentNode.removeChild(widget);
  }
});</script>
   {% schema %}
    {
  "name": "Custom HTML",
  "settings": [
    {
      "type": "text",
      "id": "custom_html_code",
      "label": "Custom HTML Code"
    }
  ],
  "blocks": []
}

    {% endschema %}