<div class="custom-html-section">
  {{ section.settings.custom_html_code }}
</div>

   {% schema %}
    {
  "name": "Custom HTML",
  "settings": [
    {
      "type": "text",
      "id": "custom_html_code",
      "label": "Custom HTML Code"
    }
  ],
  "blocks": []
}

    {% endschema %}