<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
   <div class="elfsight-app-63c6f3a5-a662-498b-be84-2b4c8fee9db8" data-elfsight-app-lazy></div>

   {% schema %}
   {
    "name": "testimonials",
    "settings": [
        
        ]
   }
   {% endschema %}